@charset "UTF-8";

body{
    background-image: url(imagens/palco.jpg);
    background-color:  black;
}

input{
    margin-bottom: 10px;
}

#interface{
    background-color: rgb(37, 37, 37);
    color: white;
    min-width: 400px;
    max-width: 900px;
    margin: auto;
    margin-top: 50px;
    padding: 5px;
    border-radius: 6px;
}

header{
    text-align: center;
}

#ingressoFoto{
    float: right;
}

#detalhes{
    background-color: rgb(37, 37, 37);
    color: white;
    min-width: 400px;
    max-width: 900px;
    margin: auto;
    padding: 5px;
}

#divErro{
    color: red;
    margin-bottom: 5px;
}

#opcoesshow{
    margin: 4px;
}

#fotoRoberto{
    float: right;
}